*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
.heading{
    text-align: center;
}
button{
    padding: 15px;
    font-size: 1.6em;
}

.buttonContainer{
    max-width: 100%;
}
