*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    /* margin: 15px; */
}

.buttonContainer{
    background-color: rgb(23, 23, 23);
    
}

.button{
    gap: 10px;
    margin: 10px;
    border-radius: 50px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    width: 100px;
    background-color: rgb(241, 174, 66);
    font-weight: 500;
    border: 4px solid white;
    cursor: pointer;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputField input{
    height: 50px;
    /* width: 465px; */
    padding: 10px;
    margin: 10px;
    border: 3.5px solid rgb(241, 174, 66);
    border-radius: 7px;
    font-size: 35px;
}